/**
 * Create the checkbox button
 */
.checkbox{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

card-body {
margin-left: 5rem;

margin-right: 5rem;

margin-bottom: 5rem;
}

card-design {
    height: 75;
    line-height:1px;
}

.DateInput_input, .DateInput_input_1 {
color: inherit !important;
text-align: center;
font-size: inherit ! important;
Height: 25px !important;
Width: 100% !important;
padding-left: 3px !important;
padding-right: 3px !important;
}
